{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Informace o albu{% endblock %}

{% block context_menu %}
    <a href="{% url 'bands:album-update' object.pk %}" class="text-danger">Upravit</a>&nbsp;&nbsp;
    <a href="{% url 'bands:album-delete' object.pk %}" class="text-danger">Smazat</a>&nbsp;&nbsp;
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            Název:
        </div>
        <div class="col">
            <b>{{ object.name }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Rok:
        </div>
        <div class="col">
            {{ object.year }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Délka:
        </div>
        <div class="col">
            {{ object.celkova_delka_string }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Kapela:
        </div>
        <div class="col">
            <a href="{% url 'bands:band-detail' object.band.pk %}">{{ object.band.name }}</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <i>Seznam písní</i>
        </div>
    </div>
    {% for pisen in object.song_set.all %}
        <div class="row">
            <div class="col-5">
                <a href="{% url 'bands:song-detail' pisen.pk %}">{{ pisen.name }}</a>
            </div>
            <div class="col-1">
                {{ pisen.get_duration_str }}
            </div>
        </div>
    {% endfor %}
{% endblock %}