{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Album - upravit{% endblock %}

{% block content %}
    {% include "handle_form_errors.html" %}
    {% if user_has_rights %}
        <form action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="col col-sm-8  col-md-6 col-xl-4">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn btn-primary mb-2 btn-block" type="submit" value="Odeslat">
                </div>
            </div>
        </form>
    {% else %}
        {% include "access_rights_error.html" %}
    {% endif %}
{% endblock %}