{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Kapela - smazat{% endblock %}

{% block content %}
    <h3 class="text-danger">Opravdu chces tuto kapelu smazat?</h3>
    <hr>
    <div class="row">
        <div class="col-2">
            Název:
        </div>
        <div class="col">
            {{ kapela.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Rok:
        </div>
        <div class="col">
            {{ kapela.year_string }}
        </div>
    </div>
    <hr>
    <br>

    <form action="." method="post">{% csrf_token %}
        <input class="btn btn-danger mb-2 btn-block" type="submit" value="Smazat">
    </form>
{% endblock %}