{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Kapela - modify{% endblock %}

{% block content %}
    {% include "handle_form_errors.html" %}
    {% if user_has_rights %}
        <form action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="col col-sm-8  col-md-6 col-xl-4">
                    <label for="id_band_name">{{ form.name.label }}</label>
                    {{ form.name }}
                    <small id="nameHelptext" class="form-text text-muted">
                        {{ form.name.help_text }}
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-8 col-md-6 col-xl-4">
                    <label for="id_band_name">{{ form.year.label }}</label>
                    {{ form.year }}
                    <small id="nameHelptext" class="form-text text-muted">
                        {{ form.year.help_text }}
                    </small>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input class="btn btn-primary mb-2 btn-block" type="submit" value="Odeslat">
                </div>
            </div>
        </form>
    {% else %}
        {% include "access_rights_error.html" %}
    {% endif %}
{% endblock %}