{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Informace o kapele{% endblock %}

{% block context_menu %}
    <a href="{% url 'bands:band-update' object.pk %}" class="text-danger">Upravit</a>&nbsp;&nbsp;
    <a href="{% url 'bands:band-delete' object.pk %}" class="text-danger">Smazat</a>&nbsp;&nbsp;
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            Název:
        </div>
        <div class="col">
            <b>{{ object.name }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Rok:
        </div>
        <div class="col">
            {{ object.year_string }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Žánr:
        </div>
        <div class="col">
            {{ object.genre }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Aktivni:
        </div>
        <div class="col">
            {{ object.zobraz_aktivitu }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <i>Seznam alb</i>
        </div>
    </div>
    {% for album in object.album_set.all %}
        <div class="row">
            <div class="col">
                <a href="{% url 'bands:album-detail' album.pk %}">{{ album.nice_name }}</a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}