{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Informace o kapele{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            Název:
        </div>
        <div class="col">
            <b>{{ kapela.name }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Rok:
        </div>
        <div class="col">
            {{ kapela.year_string }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Žánr:
        </div>
        <div class="col">
            {{ kapela.genre }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Aktivni:
        </div>
        <div class="col">
            {{ kapela.zobraz_aktivitu }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <i>Seznam alb</i>
        </div>
    </div>
    {% for album in kapela.album_set.all %}
        <div class="row">
            <div class="col">
                <a href="{% url 'bands:album-detail' album.pk %}">{{ album.nice_name }}</a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}