{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Seznam písní{% endblock %}

{% block context_menu %}
    <a href="" class="text-danger">Přidat novou</a>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-8 col-sm-6 col-md-5 col-lg-4">
                <b>Název</b>
            </div>
            <div class="col-2 text-center">
                <b>Délka</b>
            </div>
            <div class="col col-lg-6 d-none d-md-block text-center">
                <b>Album</b>
            </div>
        </div>
    {% for song in object_list %}
        <div class="row">
            <div class="col-8 col-sm-6 col-md-5 col-lg-4">
               <a href="{% url 'bands:song-detail' song.pk %}">{{ song.name }}</a>
            </div>
            <div class="col-2 text-center">
                {{ song.get_duration_str }}
            </div>
            <div class="col col-lg-6 d-none d-md-block text-center">
                {{ song.album.nice_name }}
            </div>
        </div>
    {% endfor %}
{% endblock %}